html,
body {
    height: 100%;
    background-color: #f2f2f2;
    /* overflow-y: auto; */
    /* overflow: hidden; */
    /* padding: 0; */
}

#root {
    height: 100%;
    /* overflow-y: auto; */
    margin-top: 30px;
}